.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 10em;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: #ffffff solid 10px;
}

.header_logo {
  display: flex;
  padding: 1.5em;
  align-items: center;
  margin-left: 10em
}

.header_title_Primary {
  color: black;
}

.header_title_Secondary {
  color: #388697;
}